.characterDetails {
  padding: 2rem 0;

  h1 {
    font-size: 2.4rem;
    font-weight: bold;
  }

  ul {
    font-size: 1.2rem;

    p {
      margin-bottom: 0.5rem;

      span {
        margin-right: 0.4rem;
      }
    }
  }
}
