@import "src/style/color";
@import "src/style/size";

.header {
  position: sticky;
  top: 0;
  left: 0;
  height: $header-size;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $header;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  z-index: 999;

  .headerLink {
    color: #fff;
    font-size: 1.4rem;
    margin-right: 1rem;
    font-weight: bold;
  }

  .headerLink__active {
    color: $active-link;
  }
}
