@import "~antd/dist/antd.css";
@import "src/style/reset";
@import "src/style/breakpoints";

.app {
  .container {
    max-width: 80%;
    margin: 0 auto;

    @include for-tablet-mini-down {
      max-width: 98%;
    }
  }
}
