@import "src/style/breakpoints";
@import "src/style/size";

.people {
  padding: 2rem 1rem;
  min-height: $body;

  @include for-tablet-mini-down {
    padding: 1rem 0.5rem;
  }

  h1 {
    font-size: 2rem;
    color: #fff;
  }

  .people__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
